@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/playfairdisplay_700.woff2") format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/playfairdisplay_900.woff2") format('woff2');
}

@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/rasa_400.woff") format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Rasa, serif;
  font-size: 18px;
  --h1-header-font-size: 2em;

  /* Colors */
  --text-color-primary: #111827;
  --text-color-primary-highlight: #121212;
  --text-color-secondary: #535353;
  --text-color-secondary-highlight: #535353;
  --background-color: #f9fafb;
}

@media only screen and (min-width: 768px) {
  :root {
    --h1-header-font-size: 3em;
  }
}

body {
  background: var(--background-color);
  color: var(--text-color-primary);
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: #d3d7e1;
    --text-color-primary-highlight: #afafaf;
    --text-color-secondary: #d8dfef;
    --text-color-secondary-highlight: #a0adce;
    --background-color: #111827;
  }
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: default;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

a[href^="http"]:not([href^="https://denhoff.ca"]):not(.no-external-icon)::after
{
  content: "↗";
  font-family: monospace;
  position: sticky;
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

h1 {
  text-decoration: none;
  font-family: Playfair Display;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.8em;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}

p, pre {
  margin-bottom: 1rem;
}

ul {
  width: 100%;
  -webkit-padding-start: 0;
  padding-left: 2rem;
  margin: 1rem 0;
}

ul > li {
  margin-bottom: 0.3rem;
}

.small-caps {
  font-variant: small-caps;
}

figure {
  display: flex;
flex-direction: column;
width: 100%;
margin: 3rem 0;
}

figure img {
  width: 75%;
align-self: center;
margin-bottom: 1rem;
}

figure figcaption {
  font-style: italic;
}
