/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/playfairdisplay_700.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/playfairdisplay_700.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgEM86xRbPQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rasa/v13/xn76YHIn1mWmVKl8ZtAM9NrJfN5GJV48d8zv3bT5acf4Cw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rasa/v13/xn76YHIn1mWmVKl8ZtAM9NrJfN5GJV4yd8zv3bT5acc.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Rasa, serif;
  font-size: 18px;
  --h1-header-font-size: 2em;

  /* Colors */
  --text-color-primary: #111827;
  --text-color-primary-highlight: #121212;
  --text-color-secondary: #535353;
  --text-color-secondary-highlight: #535353;
  --background-color: #f9fafb;
}

@media only screen and (min-width: 768px) {
  :root {
    --h1-header-font-size: 3em;
  }
}

body {
  background: var(--background-color);
  color: var(--text-color-primary);
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: #d3d7e1;
    --text-color-primary-highlight: #afafaf;
    --text-color-secondary: #d8dfef;
    --text-color-secondary-highlight: #a0adce;
    --background-color: #111827;
  }
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: default;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

a[href^="http"]:not([href^="https://denhoff.ca"]):not(.no-external-icon)::after
{
  content: "↗";
  font-family: monospace;
  position: sticky;
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

h1 {
  text-decoration: none;
  font-family: Playfair Display;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.8em;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}

p, pre {
  margin-bottom: 1rem;
}

ul {
  width: 100%;
  -webkit-padding-start: 0;
  padding-left: 2rem;
  margin: 1rem 0;
}

ul > li {
  margin-bottom: 0.3rem;
}

.small-caps {
  font-variant: small-caps;
}

figure {
  display: flex;
flex-direction: column;
width: 100%;
margin: 3rem 0;
}

figure img {
  width: 75%;
align-self: center;
margin-bottom: 1rem;
}

figure figcaption {
  font-style: italic;
}
