:root {
  --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  --color-light: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #1f2937;
  }
}

code {
  font-family: var(--font-mono);
  font-size: 0.9em;
  background: var(--color-light);
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

a {
  color: inherit;
}

