---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/default.astro";

const pageTitle = "things I wrote";
const allPosts = await getCollection("posts");

const sortedPosts = [...allPosts].sort((a, b) => b.data.pubDate - a.data.pubDate);

---

<BaseLayout content={{title: pageTitle}}>
  <table style="border-collapse: collapse;">
    {
      sortedPosts.map((post) => (
        <tr style="border-bottom: 2rem solid transparent">
          <td style="width: 12ch;">
                <time datetime={post.data.pubDate.toISOString()} pubdate>
                {Intl.DateTimeFormat('en-CA').format(post.data.pubDate)}
                </time>
          </td>
          <td>
              <span style="display: flex; font-size: 1.2rem; margin-bottom: 0.5rem">
                <a href={`/posts/${post.slug}`}>{post.data.title}</a>
              </span>
              <p>{post.data.description}</p>
          </td>
        </tr>
      ))
    }
  </table>
</BaseLayout>
