---
import DefaultPageLayout from "../layouts/default.astro";
import { CallToAction } from "../components/molecules/CallToAction";
---

<DefaultPageLayout>
  <span class="profile-photo">
    <img src="/assets/phildenhoff-headshot.jpg" alt="Photo of me. Hi!" />
  </span>
  <p>
    Hey, I’m Phil, a full stack software developer focused on creating software that doesn't suck.
    I have 4+ years of experience writing maintainable, tested code for features users want.
  </p>
  <p>
    Within a team, when I'm not shipping features I tend to focus on planning
    them out, managing technical debt, and maintaing & improving tooling
    to increase our speed.
  </p>
  <p>
    While much of my experience is building out frontends, I love contributing
    to backend and internal tools whenever I can. I've recently shipped apps using
    <a href="https://reactnative.dev/" target="_blank">React Native</a>,
    <a href="https://react.dev/" target="_blank">React</a>
    and
    <a href="https://svelte.dev/" target="_blank">Svelte</a> on the frontend
    (exclusively with Typescript), and 
    <a href="https://elixir-lang.org/" target="_blank">Elixir</a> on the
    backend, but I'm familiar with other languages, like Python and Scala (Java).
  </p>
  <p>
    For more about what I’ve done, check out my <a href="./projects">projects</a
    >!
  </p>
  <CallToAction title={"Reach out!"}>
    <p>
      I’d love to hear about what you’re working on. I’m always looking for new
      projects to contribute to —
      <a
        href="mailto:hello@denhoff.ca"
        target="_blank"
        rel="noopener noreferrer"
      >
        send me an email!
      </a>
    </p>
    <p>
      I’m also on
      <a href="https://www.linkedin.com/in/phildenhoff/" target="_blank">
        LinkedIn
      </a>
      and
      <a href="https://github.com/phildenhoff" target="_blank"> GitHub </a>.
    </p>
  </CallToAction>
</DefaultPageLayout>

<style>
  .profile-photo img {
    width: 100%;
    clip-path: circle(50% at center);
    aspect-ratio: 1/1;
  }

  span.profile-photo {
    width: 35%;
    aspect-ratio: 1/1;
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 1rem;
  }

  .social-icons {
    margin-top: 1em;
    align-self: center;
    display: grid;
    grid-column-gap: 50px;
  }

  .social-icons > a > img {
    width: 30px;
    grid-row: 1/4;
    height: 30px;
  }
</style>
