---
import DefaultPageLayout from "../layouts/default.astro";

// https://docs.astro.build/core-concepts/astro-components/
---

<DefaultPageLayout>
  <span class="profile-photo">
    <img
      src="/assets/phildenhoff-headshot.jpg"
      alt="Photo of me. Hi!"
      l=""
      width=""
      height=""
    />
  </span>
  <p>
    Hi, I’m Phil, a fullstack software developer at <a
      href="https://gofetch.ca"
      target="_blank">GoFetch</a
    >
    . We’re helping pets live longer, healthier lives by increasing the amount of
    preventative care they receive. And <a
      href="mailto:phil@gofetch.ca?subject=I%27m%20looking%20to%20help%20pets%20live%20healthier%20lives"
      >we’re hiring</a
    >!
  </p>
  <p>
    In working across the stack, I tend to focus on improving build
    infrastructure, updating tooling, refactoring out technical debt, and
    planning new features.
  </p>
  <p>
    While at work we tend to use <a
      href="https://elixir-lang.org/"
      target="_blank">Elixir</a
    >
    , <span style="white-space: nowrap;"
      ><a href="https://reactnative.dev/" target="_blank">React Native</a>
      , and
    </span><a href="https://www.typescriptlang.org/" target="_blank"
      >TypeScript</a
    >
    , I’ve worked on a number of projects in other languages — including Python,
    Nim, and Scala.
  </p>
  <p>
    For more about what I’ve done, check out my <a href="./projects">projects</a
    >!
  </p>
  <p>
    If you’ve got something you think I’d be interested in, don’t hesitate to
    email:
  </p>

  <div class="social-icons">
    <a href="mailto:hello@denhoff.ca" target="_blank" rel="noopener noreferrer">
      <img alt="Email Icon" src="/assets/email.png" />
    </a>
  </div>
</DefaultPageLayout>

<style>
  .profile-photo img {
    width: 100%;
    clip-path: circle(50% at center);
  }

  span.profile-photo {
    width: 35%;
    aspect-ratio: 1/1;
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 1rem;
  }

  .social-icons {
    margin-top: 1em;
    align-self: center;
    display: grid;
    grid-column-gap: 50px;
  }

  .social-icons > a > img {
    width: 30px;
    grid-row: 1/4;
    height: 30px;
  }
</style>
