---
import DefaultPageLayout from "../layouts/default.astro";

// https://docs.astro.build/core-concepts/astro-components/
---

<DefaultPageLayout>
  <span class="profile-photo">
    <img
      src="/assets/phildenhoff-headshot.jpg"
      alt="Photo of me. Hi!"
      l=""
      width=""
      height=""
    />
  </span>
  <p>
    Hi, I’m Phil, a fullstack software developer at <a
      href="https://gofetch.ca"
      target="_blank">GoFetch</a
    >
    . I focus on writing maintainable, tested code that adds functionality our users
    care about. Recently, I’ve been focused on our
    <a href="https://reactnative.dev/" target="_blank">React Native</a> mobile apps,
    but I also work on our
    <a href="https://elixir-lang.org/" target="_blank">Elixir</a>
    backend, as well as our
    <a href="https://react.dev/" target="_blank">React</a>
    and
    <a href="https://svelte.dev/" target="_blank">Svelte</a>
    web apps.
  </p>
  <p>
    In working across the stack, I tend to focus on improving build
    infrastructure, updating tooling, refactoring out technical debt, and
    planning new features.
  </p>
  <p>I’ve worked in many other languages — including Python and Scala.</p>
  <p>
    For more about what I’ve done, check out my <a href="./projects">projects</a
    >!
  </p>
  <section class="cta">
    <h2>Reach out!</h2>
    <p>
      I’d love to hear about what you’re working on. I’m always looking for new
      projects to contribute to —
      <a
        href="mailto:hello@denhoff.ca"
        target="_blank"
        rel="noopener noreferrer"
      >
        send me an email!
      </a>
    </p>
    <p>
      I’m also on
      <a href="https://www.linkedin.com/in/phildenhoff/" target="_blank">
        LinkedIn
      </a>
      and
      <a href="https://github.com/phildenhoff" target="_blank"> GitHub </a>.
    </p>
  </section>
</DefaultPageLayout>

<style>
  .profile-photo img {
    width: 100%;
    clip-path: circle(50% at center);
  }

  span.profile-photo {
    width: 35%;
    aspect-ratio: 1/1;
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 1rem;
  }

  .social-icons {
    margin-top: 1em;
    align-self: center;
    display: grid;
    grid-column-gap: 50px;
  }

  .social-icons > a > img {
    width: 30px;
    grid-row: 1/4;
    height: 30px;
  }

  .cta {
    width: 100%;
    background-color: #3d8bd2;
    padding: 16px;
    color: #e9f2ff;
  }
</style>
