{{ define "main" -}}
<div class="posts">
  {{ partial "content-header" . }}
  <div class="central-column">
    {{ .Content }}
    <div class="social-icons">
      <a href="{{ .Params.social.one.url }}" target="_blank" rel="noopener noreferrer">
        <img alt="{{ .Params.social.one.alt }}" src="{{ .Params.social.one.img }}">
      </a>
      <a href="{{ .Params.social.two.url }}" target="_blank" rel="noopener noreferrer">
        <img alt="{{ .Params.social.two.alt }}" src="{{ .Params.social.two.img }}">
      </a>
      <a href="{{ .Params.social.three.url }}" target="_blank" rel="noopener noreferrer">
        <img alt="{{ .Params.social.three.alt }}" src="{{ .Params.social.three.img }}">
      </a>

      {{ .Params.recommendedby }}
    </div>
  </div>
</div>
{{- end }}