body {
    font-family: Rasa;
    font-size: 16px;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #484848;
}

.navbar li, nav li {
    list-style: none;
}

a {
    text-decoration: underline;
    color: inherit;
    cursor: default;
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

a:hover {
    opacity: 0.75;
}


a.nostyle {
    text-decoration: none;
}

a.nostyle:hover {
    text-decoration: none;
    opacity: 1;
}

/* Mobile */

.central-column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80vw;
    margin-left: 10vw;
}

.central-column>p {
    text-align: left;
    width: 100%;
    margin: .4rem 0 0.8rem 0;
}

h1.site-hero {
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 2em;
    line-height: 0.7em;
    margin-top: 2vh;
    cursor: default;
    text-decoration: none;
}

.home-header {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-header > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-header > ul > li > a {
    list-style: none;
    font-size: 1.6em;
    font-family: 'Playfair Display';
    line-height: 1.1em;
    font-weight: 600;
    color: #535353;
    text-align: right;
}

.home-header > ul > li > a:hover {
    color: #777575;
    cursor: default;
}

img.inline-image {
    height: 1.8em;
    vertical-align: top;
    top: -0.4em;
    position: relative;
}

.social-icons {
    margin-top: 1em;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.social-icons > a > img {
    width: 30px;
    height: 30px;
}

mark {
    background-color: inherit;
    color: inherit;
}

mark.highlight--yellow {
    background: -webkit-linear-gradient(top, transparent 0%, transparent 50%, #F2EA22 50%, #F2EA22 100%);
}

mark.highlight--blue {
    background: -webkit-linear-gradient(top, transparent 0%, transparent 50%, #d0f6ff 50%, #d0f6ff 100%);
}

mark a {
    text-decoration: none;
}

footer {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    bottom:0;
    width: 60vw;
    margin-left: 20vw;
    margin-top: 10vh;
    height:44px;   /* Height of the footer */
    color: #4a7b81;
    font-size: 1em;
    text-align: center;
}

/*  Posts content */

nav#TableOfContents {
    border-left: 3px solid #C7C7C7;
    width: 100%;
}

ul {
    -webkit-padding-start: 0%;
    width: 100%;
}

.post>ul, ul li ul li, #TableOfContents>ul {
    margin-left: 2em;
}

nav#TableOfContents a, .post>h1 {
    text-decoration: none;
    font-family: Playfair Display;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.8em;
    text-align: left;
    width: 100%;
}

#TableOfContents ul li ul li {
    padding-left: 15px;
}

.post li {
    margin-bottom: 5px;
}

aside {
    width: inherit;
}

figure img {
    max-width: 75%;
    margin-left: 2em;
}

.highlight pre {
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
}

.employer {
    font-variant: small-caps;
    font-weight: bold;
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .central-column {
        width: 40vw;
        margin-left: 30vw;
    }
    
    footer {
        width: 30vw;
        margin-left: 35vw;
    }

    h1.site-hero {
        font-size: 4em;
    }

    .home-header {
        align-items: flex-start;
    }
}