<header>
  <article>
    <div class="home-header">
      <a class="navLink navLink--hero" href="/" rel="prefetch">
        <h1 class="site-hero">
          Phil<br />Denhoff
        </h1>
      </a>
      <ul class="navbar">
        <li class="navitem">
          <a class="navLink" href="/about" rel="prefetch">About Me </a>
        </li>
        <li class="navitem">
          <a class="navLink" href="/projects" rel="prefetch">Projects </a>
        </li>
        <li class="navitem">
          <a class="navLink" href="/tools" rel="prefetch">Tools </a>
        </li>
      </ul>
    </div>
  </article>
</header>

<style>
  .home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
  }

  @media only screen and (min-width: 768px) {
    .home-header {
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 2vh;
    }
  }

  h1.site-hero {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: var(--h1-header-font-size);
    line-height: 0.9em;
    cursor: default;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 0;
  }

  .navLink {
    text-decoration: none;
    padding: 0px 8px;
    transition: all 0.1s ease-in-out;
  }

  .navLink--hero {
    padding: 8px;
  }

  .navLink:hover {
    box-shadow: 1px 2px 3px 2px #bacada6b;
    border-radius: 8px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .navbar li {
    list-style-type: none;
    margin-bottom: 0;
  }

  .navitem > a {
    list-style: none;
    font-size: 1.6em;
    font-family: "Playfair Display";
    line-height: 1.1em;
    font-weight: 600;
    color: var(--text-color-secondary);
    text-align: right;
  }

  .navitem > a:hover {
    cursor: default;
  }

  .navLink:hover,
  .navitem > a:hover {
    color: var(--color-blue-primary-light);
    background-color: var(--color-blue-primary);
  }

  @media (prefers-color-scheme: light) {
    .navLink:hover,
    .navitem > a:hover {
      color: var(--color-blue-primary);
      background-color: var(--color-blue-primary-light);
    }
  }
</style>
