<header>
  <article>
    <div class="home-header">
      <h1 class="site-hero">
        <a class="navLink" href="/">Phil<br />Denhoff</a>
      </h1>
      <ul class="navbar">
        <li class="navitem"><a class="navLink" href="/about">About Me </a></li>
        <li class="navitem"><a class="navLink" href="/projects">Projects </a></li>
        <li class="navitem"><a class="navLink" href="/tools">Tools </a></li>
      </ul>
    </div>
  </article>
</header>

<style>
  .home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
  }

  @media only screen and (min-width: 768px) {
    .home-header {
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 2vh;
    }
  }

  h1.site-hero {
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: var(--h1-header-font-size);
    line-height: 0.9em;
    cursor: default;
    text-decoration: none;
  }

  .navLink {
    text-decoration: none;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .navbar li {
    list-style-type: none;
    margin-bottom: 0;
  }

  .navitem > a {
    list-style: none;
    font-size: 1.6em;
    font-family: "Playfair Display";
    line-height: 1.1em;
    font-weight: 600;
    color: var(--text-color-secondary);
    text-align: right;
  }

  .navitem > a:hover {
    color: var(--text-color-secondary-highlight);
    cursor: default;
  }
</style>
